<div
    class="bg-center bg-no-repeat bg-cover md:min-h[400px]"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{img_url
        @site.cover_image
    }});
"
>
    <section
        class="container grid grid-cols-1 md:grid-cols-5 overflow-hidden md:min-h[400px]"
    >
        <div class="md:col-span-3 flex items-center">
            <div class="max-w-[600px] py-2.5 md:mr-14">
                <p
                    class="text-2xl line-height-[1em] md:text-3xl xl:text-5xl text-white"
                >
                    Hello there!
                </p>
                <h1
                    class="display-font text-4xl md:text-4xl xl:text-6xl text-white my-3 md:my-4"
                >
                    {{@site.description}}
                </h1>
                <p class="text-lg md:text-2xl text-white">
                    {{#if @custom.full_description}}
                        {{@custom.full_description}}
                    {{else}}
                        I turn 'lost in translation' into collaboration,
                        marrying design empathy with engineering logic to
                        deliver standout UX your users will love.
                    {{/if}}
                </p>
            </div>
        </div>
    </section>
</div>